<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <title>DB Project</title>
    <style>
        .table td.fit,
        .table th.fit {
            white-space: nowrap;
            width: 1%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="d-flex">
        <a class="mr-2" th:href="@{'/worksheet4/ex2/'}">Return to form</a>
        <a th:href="@{'/'}">Return to home</a>
    </div>
    <h4 class="mt-3">Search results for: <span th:text="${user_query}"></span></h4>
    <table class="table mb-4 mt-2 table-md">
        <thead>
        <tr>
            <th scope="col">movie title</th>
            <th scope="col">movie type</th>
            <th scope="col">rank</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row: ${plot}">
            <td th:text="${row.title_name}"></td>
            <td th:text="${row.title_type}"></td>
            <td th:text="${row.rank}"></td>
        </tr>
        </tbody>
    </table>

    <div class = "py-5">
        <h4 class="mt-3">Searches related to : <span th:text="${user_query}"></span></h4>
        <input type ="hidden" class = "searchType" value = "plotSummary">
        <div class="relatedSearch" th:each="row : ${similar_plot}">
            <input type="hidden" th:value="${row}">
            <a href = "#">
                <span th:text="${row}"></span>
            </a>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>