
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .radioGroup {
            align-items: center;
            display: flex;
            margin-bottom: 0;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>IMDB Search</title>
</head>
<body>
<div class="container">
    <div th:if="${username}">
        Username <span th:text="${username}"/>
    </div>
    <div th:if="${last_login}">
        Last Login: <span th:text="${last_login}"/>
    </div>
    <form id="search-movie">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="search">Search Input</label>
                <input type="text" class="form-control" id="search" placeholder="search query" required>
            </div>
            <div class="form-group col-md-6 radioGroup" id="radio_buttons">
                <div class="form-check form-check-inline ml-1">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="movie_title" required>
                    <label class="form-check-label" for="inlineRadio1">Movie Name</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="genre" required>
                    <label class="form-check-label" for="inlineRadio2">Genre</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="credits" required>
                    <label class="form-check-label" for="inlineRadio3">Cast/Technician </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="plotSummary" required>
                    <label class="form-check-label" for="inlineRadio3">Plot Summary</label>
                </div>
            </div>
        </div>
        <button type="submit" name="search-button" class="btn btn-primary">Search</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>